@charset "UTF-8";
.lt_history {
  padding: 10px;
}
.lt_history .title {
  font-size: 12px;
}
.lt_history .title span {
  height: 30px;
  line-height: 30px;
  color: #666;
}
.lt_history .history {
  font-size: 12px;
}
.lt_history .history ul {
  border: 1px dashed red;
}
.lt_history .history li {
  border-bottom: 1px dashed red;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.lt_history .history li:last-child {
  border-bottom: none;
}
.lt_history .history span {
  height: 30px;
  line-height: 30px;
}
