@charset "utf-8";
html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: #222d32;
}
.mt-120 {
  margin-top: 120px;
}
.panel-body .form-control {
  font-size: 12px;
}
.panel-body .col-sm-3,
.panel-body .btn {
  font-size: 13px;
}
.panel-body .col-sm-3 {
  padding-right: 8px;
}
